.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.formulario p {
  font-size: 1.4rem;
  color: #333333;
  margin: 2rem 0 0 0;
}

.formulario legend {
  font-size: 2rem;
  color: #333333;
}

.formulario label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  
}
.formulario input:not([type="submit"]),
.formulario textarea,
.formulario select {
  padding: 1rem;
  display: block;
  width: 100%; /* Utilizando unidades relativas */
  max-width: calc(100% - 2rem); /* Resta el padding para que quepa dentro del contenedor */
  background-color: aliceblue;
  border: 1px solid #333333;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}


.forma-contacto input[type="radio"] {
  margin: 0;
  width: auto;
}
